.page{
    height: 100vh;
    background-color: snow;
    display: grid;
    place-items: center;
}

.form > h1{
    margin-bottom: 10px;
    text-align: center;
}

.container{
    height: 400px;
    width: 50vw;
    border: solid 1px black;
    padding: 10px 4em;
    border: solid 1px rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
}


@media only screen and (max-width: 600px) {
    .img {
      display: none;
    }

    .container{
        padding:10px;
        width: auto;
    }
  }