.notificationHeader{
    padding: 1rem;
}

.feedNotification{
    min-width: 200px;
    height: fit-content;
    display: flex;

    border: 1px solid rgb(94, 94, 94);
    border-radius: 5px;

    font-size: small;
}

.feedNotification span{
    padding: 10px;
    display: grid;
    place-content: center;
}